{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Search Engine</title>
	<link rel="shortcut icon" type="image/png" href="{% static 'encyclopedia/images/favicon.png' %}"/>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="none" onload="if(media!='all')media='all'">
	<noscript><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></noscript>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" async></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
</head>

<body>
	<div class="container-fluid" style="text-align: center; margin-top: 3%;">
		<style>@media screen and (max-width: 350px){ .book-top-animation{width: 100%;} }</style>
		<div class="container">
			<img class="book-top-animation" src="{% static 'encyclopedia/images/page-compressor.gif' %}" />
		</div>
		<h2 style="font-size: 30px; line-height: 1.1;">
			<span style="font-weight: bold;">Search</span>
			<span style="background-color: black; color: white; font-weight: bold; padding: 5px; border-radius: 8%;">Engine</span> 
		</h2>
		
		<form action="{% url 'encyclopedia:search' %}" method="GET">
			<style>.initial-search-box:hover, .initial-search-box:-moz-focusring, .initial-search-box::-moz-focus-inner, .initial-search-box::-moz-focus-outer, .initial-search-box:focus, .initial-search-box:active, .initial-search-box:focus, .initial-search-box:active{outline-color: red}</style>
			<input type="text" class="initial-search-box" name="contentSearch" style="border-radius: 3px; vertical-align: middle; width: 290px; outline-color: red; font-size: 1em; padding: 8px 2px;" />
			<button class="btn btn-danger" type="submit" style="padding: 10px 15px; outline-color: red; color: #fff; background-color: #d9534f;	border-color: #d43f3a; font-size: 14px;	font-weight: 400; border: 1px solid transparent; border-radius: 4px; line-height: 1.42857143;"><span class="glyphicon glyphicon-search"></span> Search</button>
		</form>

	</div>
</body>

</html>

